Thumbs.db
.DS_Store
.gradle
gradle
gradlew
gradlew.bat
build/
bin/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.vertx/
.groovy/
*~
src/main/resources/version.txt
src/main/resources/project.name
ci/pipeline-release.yml
ci/pipeline-develop.yml
ci/pipeline-master.yml
ci/pipeline-pr.yml
ci/fly_release
ci/fly_develop
!/ci/
!/ci/bin/
